* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.spinspinspin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

#first {
  position: absolute;
  top: 20%;
  left: 20%;
}
#second {
  position: absolute;
  top: 30%;
  left: 40%;
}
i {
  font-size: 1.3rem;
  margin: 0 5px;
  color: rgb(0, 0, 0);
}

body {
  width: 400px;
  height: 700px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
  color: rgb(0, 0, 0);
}

form {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

#notFound {
  display: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  text-align: center;
}


.navbar {
  width: 100%;
  padding: 9px;
  background-color: #8fbdeb;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  display: block;
  padding: 6px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  transition: all 0.3s ease;

}

.navbar a:hover {
  transform: scale(1.1);
}
.show-container-wrapper {
  width: 100%;
  background-color: #8fbdeb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.show-container {
  background-color: #1879c0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}
b {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 100%;
}
#asset-input {
  width: 300px;
  border: 1px solid black;
  padding: 4px;
}
#asset-list {
  width: 300px;
  border: 1px solid black;
  padding: 4px;
}
.btn-container {
  background-color: #8fbdeb;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}



button {
  font-size: 14px;
  line-height: 14px;
  background-color: #2196f3;
  border-radius: 9999px;
  border: none;
  letter-spacing: normal;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif ;
  font-weight: bold;
  transition-duration: 0.3s;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.14) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 0px 0px 0px; 
}
button:hover {
  background-color: #2082d3;
  transform: scale(1.1);
  cursor: pointer;
  }
  
  button:active {
  transform: scale(0.95);
  }
  .search-form {
    max-width: 400px;
    margin: 50px auto;
  }
  input {
    width: 100%;
    padding: 10px;
  }
  input.search-input {
    margin: 0;
    text-align: center;
    border: 10px solid #f7f7f7;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }
  .suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  .suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom, #fff 0%, #efefef 100%);
  }
  .suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top, #fff 0%, #efefef 100%);
  }
  .highlight {
    background-color: #fbc93d;
  }
  