* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.spinspinspin {
    animation-name: spin;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1440deg);
    }
}

#first {
    position: absolute;
    top: 20%;
    left: 20%;
}
#second {
    position: absolute;
    top: 30%;
    left: 40%;
}
i {
    font-size: 1.3rem;
    margin: 0 5px;
  }
  
  .website:hover {
    color: #333;
  }
  body {
    width: 400px;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background : linear-gradient(90deg, #4d29ff, #000000);
}

div {

padding: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: 16px;
color: #fff;
}
form {

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    }

button {
    font-size: 100%;
    background-color: #ee2c1e;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-weight: bold;
    transition-duration: 0.3s;
    padding: 10px;
}
#notFound{
display: none;
}